<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Cosmétiques</title>
</head>
<body>
	<div th:replace="template"></div>
<div class="container mt-5">
<div class="card">
 <div class="card-header">
 Liste des Cosmétiques
 </div>
 <div class="card-body">

 <table class="table table-striped">
 <tr>
 <th>ID</th><th>Nom Makeup</th><th>Prix</th>
 </tr>
 <tr th:each="p:${makeup.content}">
 <td th:text="${p.idMakeup}"></td>
 <td th:text="${p.nomMakeup}"></td>
 <td th:text="${p.prixMakeup}"></td>
 
 <td th:text="${p.prixMakeup}"></td>
 <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerMakeup(id=${p.idMakeup},
 page=${currentPage},size=${size})}">Supprimer</a>
 </td>
 
 </tr>
 </table>
 <ul class="nav nav-pills">
  <li th:each="page,status:${pages}">
  <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
  th:href="@{ ListeMakeup(page=${status.index}, size=${size} ) }"
  th:text="${status.index }"></a>
  </li>
  </ul>

 </div>
</div>
</div>
</body>
</html>